<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean name="profileService" class="org.example.service.ProfileService"/>

    <bean name="profileRepository" class="org.example.repository.ProfileRepository"/>

    <bean name="authService" class="org.example.service.AuthService">
        <property name="profileRepository" ref="profileRepository"/>
    </bean>

    <bean name="authController" class="org.example.controller.AuthController">
        <property name="authService" ref="authService"/>
    </bean>
</beans>
